html, body {
    height: 100%;
}

body{
    background-color: #f5f9ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#device {
    background-color: #FF6EC7;
    width: 300px;
    height: 400px;
    padding: 19px;
    padding-top: 40px;
    padding-bottom: 48px;
    border-radius: 14px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#window {
    height: 80px;
    padding: 20px;
    background-color: #52B640;
    text-align: start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#field {
    display: flex;
    padding: 40px;
    height: 50%;

}
#butnum {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap:20px;
}

#butoper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
}

button{
    height: 40px;
    width: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.pressed {
    background-color: aqua;
}